[Unit]
Description=TrueNAS Auditd Handler
DefaultDependencies=no

# the auditd.service file has
# Upholds=tnaudit.service
After=auditd.service

[Service]
Type=exec
ExecStart=/usr/local/libexec/truenas_audit_handler.py
SendSIGKILL=no
MemoryDenyWriteExecute=true
LockPersonality=true
ProtectControlGroups=true
ProtectKernelModules=true

[Install]
WantedBy=multi-user.target
