#!/usr/bin/make -f
export PYBUILD_NAME=truenas_audit
export PYBUILD_SYSTEM=pyproject

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/truenas-audit-rules/conf/audit_rules/
	cp -a rules/* debian/truenas-audit-rules/conf/audit_rules/
	mkdir -p debian/truenas-audit-rules/conf/audit_plugins/
	cp -a plugins/* debian/truenas-audit-rules/conf/audit_plugins/
	mkdir -p debian/truenas-audit-rules/lib/systemd/system/
	cp -a systemd/* debian/truenas-audit-rules/lib/systemd/system/
